.dashboard {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.dashboard .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.dashboard .overlap {
  position: absolute;
  width: 777px;
  height: 62px;
  top: 813px;
  left: 270px;
}

.dashboard .rectangle {
  position: absolute;
  width: 776px;
  height: 62px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  border-left-width: 2px;
  border-left-style: solid;
  border-color: #6200ee;
}

.dashboard .element-ZOUAK-omar {
  position: absolute;
  top: 23px;
  left: 5px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .line {
  position: absolute;
  width: 771px;
  height: 2px;
  top: 1px;
  left: 5px;
}

.dashboard .img {
  position: absolute;
  width: 771px;
  height: 2px;
  top: 60px;
  left: 6px;
}

.dashboard .overlap-group {
  position: absolute;
  width: 231px;
  height: 1024px;
  top: 0;
  left: -1px;
}

.dashboard .rectangle-2 {
  position: absolute;
  width: 229px;
  height: 1024px;
  top: 0;
  left: 1px;
  background-color: #f6f6e9;
}

.dashboard .material-symbols {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 222px;
  left: 193px;
}

.dashboard .ellipse {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 192px;
  left: 11px;
  object-fit: cover;
}

.dashboard .text-wrapper {
  position: absolute;
  top: 196px;
  left: 83px;
  font-family: "Google Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-2 {
  position: absolute;
  top: 225px;
  left: 84px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #605e5e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .rectangle-3 {
  position: absolute;
  width: 230px;
  height: 65px;
  top: 291px;
  left: 0;
  background-color: #0342a4;
}

.dashboard .rectangle-4 {
  position: absolute;
  width: 230px;
  height: 65px;
  top: 356px;
  left: 1px;
  background-color: #f6f6e9;
}

.dashboard .rectangle-5 {
  position: absolute;
  width: 230px;
  height: 65px;
  top: 421px;
  left: 1px;
  background-color: #f6f6e9;
}

.dashboard .rectangle-6 {
  position: absolute;
  width: 230px;
  height: 65px;
  top: 486px;
  left: 1px;
  background-color: #f6f6e9;
}

.dashboard .rectangle-7 {
  position: absolute;
  width: 230px;
  height: 65px;
  top: 842px;
  left: 1px;
  background-color: #f6f6e9;
}

.dashboard .rectangle-8 {
  position: absolute;
  width: 230px;
  height: 65px;
  top: 907px;
  left: 1px;
  background-color: #f6f6e9;
}

.dashboard .ph-arrows-clockwise {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 372px;
  left: 18px;
}

.dashboard .ic-outline-settings {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 922px;
  left: 24px;
}

.dashboard .material-symbols-2 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 307px;
  left: 18px;
}

.dashboard .material-symbols-3 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 437px;
  left: 18px;
}

.dashboard .text-wrapper-3 {
  top: 313px;
  left: 66px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-4 {
  position: absolute;
  top: 378px;
  left: 66px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-5 {
  position: absolute;
  top: 443px;
  left: 66px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-6 {
  position: absolute;
  top: 508px;
  left: 65px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-7 {
  position: absolute;
  top: 864px;
  left: 66px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-8 {
  position: absolute;
  top: 929px;
  left: 66px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .iconoir-profile {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 502px;
  left: 18px;
}

.dashboard .group {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2px;
  left: 2px;
}

.dashboard .text-wrapper-9 {
  position: absolute;
  top: 848px;
  left: 35px;
  font-family: "Google Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .logo {
  position: absolute;
  width: 175px;
  height: 80px;
  top: 27px;
  left: 18px;
}

.dashboard .frame {
  height: 80px;
}

.dashboard .overlap-group-2 {
  position: relative;
  width: 175px;
  height: 80px;
}

.dashboard .group-2 {
  position: absolute;
  width: 139px;
  height: 70px;
  top: 10px;
  left: 0;
}

.dashboard .group-3 {
  position: absolute;
  width: 127px;
  height: 69px;
  top: 0;
  left: 5px;
}

.dashboard .group-4 {
  position: absolute;
  width: 117px;
  height: 48px;
  top: 21px;
  left: 48px;
}

.dashboard .group-5 {
  position: absolute;
  width: 126px;
  height: 51px;
  top: 29px;
  left: 49px;
}

.dashboard .group-6 {
  position: absolute;
  width: 55px;
  height: 42px;
  top: 33px;
  left: 88px;
}

.dashboard .overlap-2 {
  position: absolute;
  width: 92px;
  height: 26px;
  top: 36px;
  left: 470px;
}

.dashboard .material-symbols-4 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 2px;
  left: 61px;
}

.dashboard .rectangle-9 {
  position: absolute;
  width: 92px;
  height: 26px;
  top: 0;
  left: 0;
  border: 1px solid;
  border-color: #1e1e1e;
}

.dashboard .text-wrapper-10 {
  position: absolute;
  top: 1px;
  left: 10px;
  font-family: "Google Sans-Regular", Helvetica;
  font-weight: 400;
  color: #605e5e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .overlap-3 {
  position: absolute;
  width: 350px;
  height: 1024px;
  top: 0;
  left: 1090px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #1e1e1e;
}

.dashboard .text-wrapper-11 {
  position: absolute;
  top: 422px;
  left: 122px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #808080;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-12 {
  top: 454px;
  left: 122px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #808080;
  font-size: 13px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-13 {
  top: 454px;
  left: 232px;
  color: #808080;
  font-size: 13px;
  position: absolute;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-14 {
  position: absolute;
  top: 422px;
  left: 207px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #fd3434;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .p {
  position: absolute;
  top: 376px;
  left: 122px;
  font-family: "Google Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-15 {
  left: 121px;
  position: absolute;
  top: 479px;
  font-family: "Google Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-16 {
  left: 232px;
  position: absolute;
  top: 479px;
  font-family: "Google Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .div-wrapper {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 343px;
  left: 226px;
  background-color: #fd5f00;
  border-radius: 13.5px;
}

.dashboard .text-wrapper-17 {
  position: absolute;
  width: 8px;
  top: 2px;
  left: 10px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-18 {
  position: absolute;
  top: 25px;
  left: 33px;
  font-family: "Google Sans-Bold", Helvetica;
  font-weight: 700;
  color: #1e1e1e;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-19 {
  top: 335px;
  left: 24px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #222222;
  font-size: 27px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .vector {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 35px;
  left: 295px;
}

.dashboard .overlap-4 {
  position: absolute;
  width: 297px;
  height: 71px;
  top: 106px;
  left: 22px;
  background-color: #d9d9d9;
}

.dashboard .ellipse-2 {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 8px;
  left: 8px;
  object-fit: cover;
}

.dashboard .ZOUAK-omar {
  position: absolute;
  top: 12px;
  left: 84px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .overlap-5 {
  position: absolute;
  width: 297px;
  height: 53px;
  top: 190px;
  left: 22px;
  background-color: #d9d9d9;
}

.dashboard .text-wrapper-20 {
  position: absolute;
  top: 16px;
  left: 100px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #4c4b4b;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .material-symbols-5 {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 12px;
  left: 47px;
}

.dashboard .overlap-6 {
  position: absolute;
  width: 297px;
  height: 53px;
  top: 246px;
  left: 22px;
  background-color: #d9d9d9;
}

.dashboard .material-symbols-6 {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 10px;
  left: 49px;
}

.dashboard .text-wrapper-21 {
  position: absolute;
  top: 398px;
  left: 122px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #4c4b4b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .physics {
  position: absolute;
  width: 94px;
  height: 143px;
  top: 370px;
  left: 24px;
  object-fit: cover;
}

.dashboard .quantum-computing {
  position: absolute;
  width: 94px;
  height: 143px;
  top: 526px;
  left: 24px;
}

.dashboard .text-wrapper-22 {
  position: absolute;
  top: 714px;
  left: 275px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #605e5e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-23 {
  position: absolute;
  top: 714px;
  left: 376px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #605e5e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-24 {
  position: absolute;
  top: 713px;
  left: 502px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #605e5e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-25 {
  position: absolute;
  top: 714px;
  left: 676px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #605e5e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-26 {
  top: 714px;
  left: 824px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  position: absolute;
  color: #605e5e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-27 {
  top: 714px;
  left: 948px;
  color: #605e5e;
  font-size: 16px;
  position: absolute;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .element-ZOUAK-omar-2 {
  top: 774px;
  left: 274px;
  position: absolute;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .element-ZOUAK-omar-3 {
  top: 898px;
  left: 275px;
  position: absolute;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .element-ZOUAK-omar-4 {
  top: 960px;
  left: 276px;
  position: absolute;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-28 {
  position: absolute;
  top: 651px;
  left: 598px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #6200ee;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-29 {
  top: 21px;
  left: 268px;
  font-family: "Google Sans-Bold", Helvetica;
  font-weight: 700;
  color: #1e1e1e;
  font-size: 40px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .overlap-7 {
  position: absolute;
  width: 803px;
  height: 501px;
  top: 105px;
  left: 267px;
}

.dashboard .rectangle-10 {
  position: absolute;
  width: 802px;
  height: 499px;
  top: 2px;
  left: 1px;
  background-color: #1e1e1e;
}

.dashboard .chart {
  position: absolute;
  width: 789px;
  height: 252px;
  top: 194px;
  left: 7px;
}

.dashboard .overlap-group-3 {
  position: absolute;
  width: 789px;
  height: 234px;
  top: 18px;
  left: 0;
}

.dashboard .line-2 {
  position: absolute;
  width: 789px;
  height: 1px;
  top: 53px;
  left: 0;
  object-fit: cover;
}

.dashboard .line-3 {
  position: absolute;
  width: 789px;
  height: 1px;
  top: 124px;
  left: 0;
  object-fit: cover;
}

.dashboard .line-4 {
  position: absolute;
  width: 789px;
  height: 1px;
  top: 196px;
  left: 0;
  object-fit: cover;
}

.dashboard .group-7 {
  position: absolute;
  width: 28px;
  height: 198px;
  top: 36px;
  left: 9px;
}

.dashboard .text-wrapper-30 {
  position: absolute;
  width: 13px;
  top: 179px;
  left: 7px;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 11px;
}

.dashboard .rectangle-11 {
  position: absolute;
  width: 9px;
  height: 161px;
  top: 0;
  left: 0;
}

.dashboard .rectangle-12 {
  position: absolute;
  width: 9px;
  height: 89px;
  top: 71px;
  left: 16px;
}

.dashboard .group-8 {
  position: absolute;
  width: 28px;
  height: 198px;
  top: 36px;
  left: 414px;
}

.dashboard .text-wrapper-31 {
  position: absolute;
  width: 16px;
  top: 179px;
  left: 5px;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 11px;
}

.dashboard .group-9 {
  position: absolute;
  width: 28px;
  height: 198px;
  top: 36px;
  left: 77px;
}

.dashboard .rectangle-13 {
  height: 125px;
  top: 36px;
  position: absolute;
  width: 9px;
  left: 0;
}

.dashboard .rectangle-14 {
  position: absolute;
  width: 9px;
  height: 161px;
  top: 0;
  left: 16px;
}

.dashboard .group-10 {
  position: absolute;
  width: 28px;
  height: 198px;
  top: 36px;
  left: 482px;
}

.dashboard .text-wrapper-32 {
  position: absolute;
  width: 17px;
  top: 179px;
  left: 5px;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 11px;
}

.dashboard .group-11 {
  position: absolute;
  width: 28px;
  height: 180px;
  top: 54px;
  left: 144px;
}

.dashboard .text-wrapper-33 {
  position: absolute;
  width: 16px;
  top: 161px;
  left: 5px;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 11px;
}

.dashboard .rectangle-15 {
  height: 143px;
  top: 0;
  position: absolute;
  width: 9px;
  left: 0;
}

.dashboard .rectangle-16 {
  position: absolute;
  width: 9px;
  height: 71px;
  top: 71px;
  left: 16px;
}

.dashboard .group-12 {
  position: absolute;
  width: 28px;
  height: 180px;
  top: 54px;
  left: 549px;
}

.dashboard .text-wrapper-34 {
  position: absolute;
  width: 17px;
  top: 161px;
  left: 5px;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 11px;
}

.dashboard .group-13 {
  position: absolute;
  width: 28px;
  height: 180px;
  top: 54px;
  left: 212px;
}

.dashboard .rectangle-17 {
  height: 107px;
  top: 36px;
  position: absolute;
  width: 9px;
  left: 0;
}

.dashboard .rectangle-18 {
  position: absolute;
  width: 9px;
  height: 143px;
  top: 0;
  left: 16px;
}

.dashboard .group-14 {
  position: absolute;
  width: 28px;
  height: 180px;
  top: 54px;
  left: 617px;
}

.dashboard .text-wrapper-35 {
  position: absolute;
  width: 13px;
  top: 161px;
  left: 7px;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 11px;
}

.dashboard .group-15 {
  position: absolute;
  width: 28px;
  height: 216px;
  top: 18px;
  left: 279px;
}

.dashboard .text-wrapper-36 {
  position: absolute;
  width: 17px;
  top: 196px;
  left: 5px;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 11px;
}

.dashboard .rectangle-19 {
  height: 179px;
  top: 0;
  position: absolute;
  width: 9px;
  left: 0;
}

.dashboard .rectangle-20 {
  position: absolute;
  width: 9px;
  height: 125px;
  top: 54px;
  left: 16px;
}

.dashboard .group-16 {
  position: absolute;
  width: 28px;
  height: 216px;
  top: 18px;
  left: 684px;
}

.dashboard .text-wrapper-37 {
  position: absolute;
  width: 9px;
  top: 196px;
  left: 8px;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 11px;
}

.dashboard .group-17 {
  position: absolute;
  width: 28px;
  height: 234px;
  top: 0;
  left: 347px;
}

.dashboard .text-wrapper-38 {
  position: absolute;
  width: 17px;
  top: 214px;
  left: 5px;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 11px;
}

.dashboard .rectangle-21 {
  height: 196px;
  top: 0;
  position: absolute;
  width: 9px;
  left: 0;
}

.dashboard .rectangle-22 {
  position: absolute;
  width: 9px;
  height: 89px;
  top: 107px;
  left: 16px;
}

.dashboard .group-18 {
  position: absolute;
  width: 28px;
  height: 234px;
  top: 0;
  left: 752px;
}

.dashboard .text-wrapper-39 {
  position: absolute;
  width: 13px;
  top: 214px;
  left: 7px;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 11px;
}

.dashboard .line-5 {
  position: absolute;
  width: 789px;
  height: 1px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.dashboard .rectangle-23 {
  position: absolute;
  width: 803px;
  height: 72px;
  top: 0;
  left: 0;
  background-color: #f6f6e9;
}

.dashboard .ellipse-3 {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 11px;
  left: 44px;
  background-color: #fd5f00;
  border-radius: 25.5px;
}

.dashboard .ellipse-4 {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 87px;
  left: 271px;
  background-color: #fd5f00;
  border-radius: 6.5px;
}

.dashboard .ellipse-5 {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 87px;
  left: 368px;
  background-color: #f6f6e9;
  border-radius: 6.5px;
}

.dashboard .ellipse-6 {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 11px;
  left: 223px;
  background-color: #fd5f00;
  border-radius: 25.5px;
}

.dashboard .ellipse-7 {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 11px;
  left: 402px;
  background-color: #fd5f00;
  border-radius: 25.5px;
}

.dashboard .ellipse-8 {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 11px;
  left: 581px;
  background-color: #fd5f00;
  border-radius: 25.5px;
}

.dashboard .text-wrapper-40 {
  top: 10px;
  left: 107px;
  font-family: "Google Sans-Regular", Helvetica;
  font-weight: 400;
  color: #605e5e;
  font-size: 16px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-41 {
  top: 10px;
  left: 288px;
  font-family: "Google Sans-Regular", Helvetica;
  font-weight: 400;
  position: absolute;
  color: #605e5e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-42 {
  top: 10px;
  left: 465px;
  color: #605e5e;
  font-size: 16px;
  position: absolute;
  font-family: "Google Sans-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-43 {
  top: 84px;
  left: 290px;
  color: #f6f6e9;
  font-size: 14px;
  position: absolute;
  font-family: "Google Sans-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-44 {
  position: absolute;
  top: 84px;
  left: 387px;
  font-family: "Google Sans-Regular", Helvetica;
  font-weight: 400;
  color: #f6f6e9;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-45 {
  position: absolute;
  top: 10px;
  left: 646px;
  font-family: "Google Sans-Regular", Helvetica;
  font-weight: 400;
  color: #605e5e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .fluent-book {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 18px;
  left: 230px;
}

.dashboard .fluent-people {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 21px;
  left: 413px;
}

.dashboard .fluent-people-add {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 16px;
  left: 589px;
}

.dashboard .text-wrapper-46 {
  position: absolute;
  top: 35px;
  left: 119px;
  font-family: "Google Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-47 {
  position: absolute;
  top: 36px;
  left: 473px;
  font-family: "Google Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-48 {
  position: absolute;
  top: 36px;
  left: 667px;
  font-family: "Google Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-49 {
  position: absolute;
  top: 35px;
  left: 294px;
  font-family: "Google Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-50 {
  position: absolute;
  top: 639px;
  left: 275px;
  font-family: "Google Sans-Medium", Helvetica;
  font-weight: 500;
  color: #222222;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .line-6 {
  position: absolute;
  width: 771px;
  height: 2px;
  top: 747px;
  left: 274px;
}

.dashboard .line-7 {
  position: absolute;
  width: 771px;
  height: 2px;
  top: 938px;
  left: 275px;
}
